/* rgb(243,246,248) */

#SW01-01-B {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #fff !important;

}
#SW01-01-B nav {
  background-color: #fff !important;
}
.SW01-01-B-nav {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 2px #eee;
}
.SW01-01-B-nav-links {
  padding-left: 80px;
}
.SW01-01-B-nav-links li {
  padding-left: 10px;
  padding-right: 10px;
}
.SW01-01-B-btn-whatsapp {
  /* margin-right: 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 50px;
  padding: 8px 20px;
  padding-left: 55px;
  transition: 0.3s ease;
  background-color: #444;
  font-weight: bold;
  font-size: 0.9rem;
  position: relative;
  line-height: 0.8; */

  width: 180px;
}
.SW01-01-B-btn-whatsapp img {
  width: 100%;
  object-fit: contain;
}
/* .SW01-01-B-btn-whatsapp small {
  color: #888;
  font-size: 0.5rem;
  line-height: 0.5;
} */
/* .SW01-01-B-btn-whatsapp:hover {
  color: #fff;
  background-color: #31BE35;
  text-decoration: none;

} */
/* .SW01-01-B-whatsapp-icon {
  width: 40px;
  height:100%;
  object-fit: contain;
} */
/* .SW01-01-B-btn-whatsapp img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  position: absolute;
  top: -5px;
  left:0;
  transform: translateX(-10px);
} */
.SW01-01-B-btn-callnow {
  text-decoration: none;
  color:  rgb(127, 127, 127);
  border-radius: 50px;
  border: 1px solid rgb(217,217,217);
  padding: 5px 10px;
  padding-left: 0;
  padding-right: 20px;
  height: 40px;
  transition: 0.3s ease;
  margin-right: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;

}
.SW01-01-B-btn-callnow img {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin-right: 10px;
  border-radius: 100%;
  object-fit: contain;
  border: 1px solid rgb(217,217,217);
  background-color: #fff;
  transform: translateX(-2px);

}
.SW01-01-B-btn-callnow:hover {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(225deg,rgb(44, 63, 78),rgb(64, 64, 64));
  border: 0;
}
.SW01-01-B-btn-callnow:hover img {
  box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
  border: 0;

}
.active {
  font-weight: bold;
  /* color: rgb(63, 63, 63); */
}
#SW01-01-B .nav-link {
  position: relative;

}
#SW01-01-B .nav-link::after {
  transition: 0.2s ease;
  content: "";
  width: 0%;
  height: 3px;
  border-radius: 2px;
  /* background-color: rgb(44,63,78); */
  background-color:  rgb(184,201,214);
  position: absolute;
  left:0;
  bottom: 0;
}
#SW01-01-B .nav-link:hover::after {

  width: 100%;

}
.SW01-01-B-product-dropdown {
  border: 0;
  transform: translate(5px,5px);
  box-shadow: 3px 3px 3px   rgba(0, 0, 0, 0.05),-3px 3px 3px   rgba(0, 0, 0, 0.05);
}
.SW01-01-B-product-dropdown a:not(:last-child) {
  border-bottom: 1px solid rgba(217,217,217,0.4);
}

@media (max-width:576px) {
  .SW01-01-B-btn-callnow {
    display: none;
  }
  .SW01-01-B-btn-whatsapp {
    display: none;
  }
}
