@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#SW02-01 * {
  font-family: 'Roboto', sans-serif;
}


#SW02-01 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://dummyimage.com/1200x400/ddd/fff&text=Image");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.SW02-01 {
  padding: 0 25%;
  padding-top: 150px;
  padding-bottom: 150px;
  display: grid;
  justify-content: center;
}
.SW02-01 h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #444;
}
.SW02-01 p {
  margin-top: 20px;
  text-align: center;
  padding: 0 50px;
  font-size: 1rem;
  color: #888;

}
.SW02-01-cta {
  text-decoration: none;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
  color: #fff;
  border-radius: 50px;
  border: 1px solid #444;
  transition: 0.3s ease;
  z-index: 10;
  background-color: rgb(48,69,106);
  letter-spacing: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.SW02-01-cta::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  background-color: rgba(48,69,106,0.2);
  z-index: 9;
  animation-name: scale;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes scale {
  0% {
    transform: scale(1,1);

  }
  100% {
    transform: scale(1.2,1.4);
    }
}
.SW02-01-cta:hover::after {
  animation:none;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
.SW02-01-cta img {
  width: 20px;
  object-fit: contain;
  margin-right: 10px;
}
@media (max-width:576px) {
  .SW02-01 {
    padding: 0;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
