@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#SW08-01 * {
  font-family: 'Roboto', sans-serif;
}

#SW08-01 {
  padding: 40px 5%;
}

.SW08-01-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}
.SW08-01-card-outline {
  border-radius: 5px;
  background-color: rgb(243, 246, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.SW08-01-card {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 2px solid #ddd;
  margin: 0 -2px 0 0;
  background-color: #fff;
}
.SW08-01-card-top {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(44, 63, 78);
}
.SW08-01-card-top img {
  width: 20%;
  object-fit: contain;
  padding: 5px;
}
.SW08-01-card-top p {
  width: 70%;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
}
.SW08-01-card > p {
  text-align: center;
  color: #888;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}
@media (max-width:576px) {
  .SW08-01-grid {
    grid-template-columns: 1fr;
  }
}

.SW08-01-about {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 30px;
}
.SW08-01-about-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.SW08-01-about-img img {
  width: 70%;
  object-fit: contain;
}
.SW08-01-about-text {
  padding: 5px;
  position: relative;
}
#SW08-01-left-quote {
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  object-fit: contain;
}
.SW08-01-about-text h2 {
  padding: 20px 5px 20px 30px;
  color: rgb(108, 137, 189);
  letter-spacing: 5px;
  position: relative;
}
.SW08-01-about-text h2::after {
  content: "";
  width: 90vw;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(243, 246, 248, 0.8);
  z-index: -10;
  border-radius: 5px;
}
.SW08-01-about-text p {
  color: #888;
  width: calc(100% - 20px);
  padding: 0 10px;
  line-height: 1.6;
  text-align: justify;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.SW08-01-about-text a {
  margin-right: 10px;
  margin-left: auto;
  float: right;
  text-decoration: none;
  color: #444;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #eee;
}

@media (max-width:576px) {
  .SW08-01-about {
    margin-top: 40px;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  #SW08-01-left-quote {
    top: 0;
    left: 0px;
  }
  .SW08-01-about-text h2 {
    padding-left: 40px;
  }
  .SW08-01-about-text h2::after {
    width: 100%;
  }
  .SW08-01-about-text p {
    -webkit-line-clamp: 4;
  }
}
