#SW15-01 > h2 {
  background-color:  rgb(228, 225, 247);
  box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.1),
              inset -3px -3px 4px rgba(255, 255, 255, 0.6);
  line-height: 2;
  padding-left: 15px;
  font-weight: normal;
  letter-spacing: 5px;
}
.SW15-01-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.SW15-01-card {
  position: relative;
  overflow: hidden;
  height: 240px;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1),
              -3px -3px 4px rgba(255, 255, 255, 0.6);
}
.SW15-01-card img {
  width: 100%;
  object-fit: cover;
}
.SW15-01-card h3 {
  width: 101%;
  position: absolute;
  left: 0;
  bottom: 10px;

  text-align: center;
  color: #000;
  /* background-color: #888; */
  background-color:rgb(228, 225, 247);
  line-height: 2;
  margin-left: -1px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1),
              -3px -3px 4px rgba(255, 255, 255, 0.6);
}
