@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#SW20-01 * {
  font-family: 'Roboto', sans-serif;
}

#SW20-01 {
  padding: 40px 8%;
}
.SW20-01-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr 3fr;
  grid-gap: 20px;
}
.SW20-01-grid ul {
  list-style: none;
  padding: 0;
  /* padding-left: 20px; */
}
.SW20-01-grid ul li {
  padding: 4px 0;
}
.SW20-01-grid ul a {
  text-decoration: none;
  color: #888;
  /* padding: 40px 0; */
}
.SW20-01-grid h3 {
  color: #444;
}
.SW20-01-sm-grid {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px;
  grid-gap: 20px;
}
.SW20-01-sm-icon {
  border-radius: 50%;
  border: 2px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15%;
}
.SW20-01-sm-icon img {
  width: 100%;
  object-fit: contain;
}
