#SW21-01 {
  padding: 20px 0;
}
#SW21-01 > h2 {
  background-color:  rgb(226, 240, 217);
  box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.1),
              inset -3px -3px 4px rgba(255, 255, 255, 0.6);
  line-height: 2;
  padding-left: 15px;
  font-weight: normal;
  letter-spacing: 5px;
}
.SW21-01-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}
.SW21-01-card {
  /* padding: 10px 10px; */
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1),
              -3px -3px 4px rgba(255, 255, 255, 0.6);
}
.SW21-01-img {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  border-radius: 10px;
  overflow: hidden;
}
.SW21-01-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.SW21-01-card > h3 {
  text-align: center;
  color: #fff;
  /* background-color: #888; */
  background-color: #188e6f;
  line-height: 2;
  margin-left: -3px;
  margin-right:  -2px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2),
              -3px -3px 4px rgba(255, 255, 255, 0.6);
}
.SW21-01-table {
  padding: 0 10px;
  padding-bottom: 20px;
}
.SW21-01-tr {
  display: flex;
}
.SW21-01-tr p {
  margin: 0;
  padding: 5px;
  color: #444;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.SW21-01-tr:first-child p {
  border-top: 1px solid #ddd;

}
.SW21-01-tr-process {
  width: 50%;
}
.SW21-01-tr-details {
  width: 50%;
  font-weight: bold;
  border-right: 1px solid #ddd;
}


@media (max-width:576px) {
  #SW21-01 > h2 {
    font-size: 1.4rem;
  }
}
