@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#SW23-01 * {
  font-family: 'Roboto', sans-serif;
}


#SW23-01 {
  padding: 40px 10%;
  background-color: #F2F6F9;
}
#SW23-01 > h2 {
  color: #444;
  letter-spacing: 5px;
  margin-bottom: 5px;
}
#SW23-01 > p {
  color: #444;
  margin: 0;
  font-size: 1.1rem;
}
.SW23-01-grid {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.SW23-01-card {
  border-radius: 10px;
  background: #F2F6F9;
box-shadow:  6px 6px 12px #ced1d4,
             -6px -6px 12px #ffffff;
  padding: 10px;
}

.SW23-01-img {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.SW23-01-img img {
  width: 100%;
  object-fit: cover;
}

.SW23-01-card>h3 {
  text-align: center;
  color: #444;
  margin-bottom: 0;
}
.SW23-01-card>p {
  text-align: center;
  color: #888;
  margin-top: 10px;
}
.SW23-01-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.SW23-01-btn a {
  text-decoration: none;
  color: #444;
  border-radius: 50px;
  padding: 5px 15px;
  background-color: #DFE6EC;
  font-weight: bold;
}
